@model Bangazon.Models.ProductTypeViewModels.ProductTypesViewModel

@{
    ViewData["Title"] = "Types";
}

<h4>Product Categories</h4>

@foreach (var item in Model.GroupedProducts)
{
<p>
    <a asp-controller="Products" asp-action="ListProductByType" asp-route-id="@item.TypeId">
        @item.TypeName
        (@item.ProductCount)
        </a>
</p>
    <ul>
        @foreach (var p in item.Products)
        {
            <li>@p.Title.</li>
        }
    </ul>
}

