@model Bangazon.Models.ProductTypeViewModels.ProductTypesViewModel

@{
    ViewData["Title"] = "Types";
}

<h1>Product Categories</h1>

@foreach (var item in Model.GroupedProducts)
{
<h3>
    <a asp-controller="Products" asp-action="Index" asp-route-id="">
        @item.TypeName
        (@item.ProductCount)
        </a>
</h3>
    <ul>
        @foreach (var p in item.Products)
        {
            <li>@p.Title.</li>
        }
    </ul>
}

