@model Bangazon.Models.ProductTypeViewModels.ProductTypesViewModel

@{
    ViewData["Title"] = "Types";
}

<h1>Product Categories</h1>

@foreach (var item in Model.GroupedProducts)
{
<h3>
    @item.TypeName 
    (@item.ProductCount)
</h3>
    <ul>
        @foreach (var p in item.Products)
        {
            <li>@p.Title.</li>
        }
    </ul>
}

